.linebreak{
    width: 15px;
    display: block;
    margin: 50px auto;
    text-align: center;
    fill: rgba($clr-primary, 0.7);
}
section {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    margin: 0;
    overflow: hidden;
    padding: 3rem 5rem 0 5rem;
    h1{
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        span{
            color: $clr-primary;
        }
    }
    h3{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;

        span{
            font-weight: 700;
            border-bottom: 8px solid $clr-primary;
        }
    }
    p{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
        span{
            font-weight: 600;
            text-transform: capitalize;
        }
    }
    button{
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        background-color: $clr-primary;
        color: $clr-white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        
        //shadows gradient effect using pseudo element
        &::before{
            content: "";
            position: absolute;
            top: 2;
            left: 2;
            width: 100%;
            height: 0%;
            background-color: rgba($clr-primary, 0.5);
            z-index: -1;
        }

        &:hover{
            background-color: darken($clr-primary, 10%);
        }
    }
   


} 

.fade-in{
    opacity: 0;
    transition: 
        filter 100ms ease-in,
        transform 300ms ease-in,
        opacity 300ms ease-in
        ;
    transform: translateY(50px);
    filter: blur(5px) ;
    //animatiion blur effect using keyframes
    

}
.fade-in.appear{
    opacity: 1;
    filter: blur(0px);
    transition: 
        filter 100ms ease-in,
        transform 300ms ease-in,
        opacity 300ms ease-in
        ;   
    transform: translateY(0px);}

.section-intro{
    display: flex;
    justify-content: space-between;
    .profile{
        opacity: 1;
        position: relative;
        &>img{
            width: 400px;
            filter: drop-shadow(0 5px 10px $clr-primary);
        }

        .socialmedias{

            position: relative;
            display: flex;
            justify-items: center;
            justify-content: center;
            align-items: center;
            top: -100px;

            &>.social{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: fit-content;
                padding: 15px;
                border-radius: 15px;
                background-color: rgb(15, 15, 15);
                 &>*{
                    margin: 0 0.5rem;
                    color: $clr-primary;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: darken($clr-primary, 10%);
                    }
                 }
    
            }
        }



    svg{
        width: 25px;
        height: 25px;
        fill: $clr-primary;
        &:hover{
            fill: white;
            filter: drop-shadow(0 0 10px $clr-primary);
        }
    }
    }
    .intro{
        max-width: 600px;
        line-height: 2.5rem;
        
    }
}

.about{
    margin-top: 50px;
    
}
.about,.education, .skills, .portfolio, .contact{
    height: fit-content;
    

    &-title{
        position: absolute;
        font-weight: 800;
        font-size: 12rem;
        color: rgba($clr-primary, 0.4);
        z-index: -1;
        //animation scroll effect using keyframes animate text from left to right by scrolling
        animation: animate 10s linear infinite;
        @keyframes animate{
            0%{
                transform: translateX(-100%);
            }
            100%{
                transform: translateX(100%);
            }
        }
    }
    &-description{
        h4{
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 1rem;
            color: rgba(black, 0.3);
            text-transform: uppercase;
        }
        p{
            font-size: 1.7rem;
            font-weight: 500;
            span{
                font-weight: 700;
                text-transform: none;
                border-bottom: 8px solid $clr-primary;
            }
        }
        display: block;
        margin: 0 auto;
        width: 60%;
    }
}

.education, .skills{
    flex-direction: column;
    margin-top: 50px;
    position: relative;
    .btn-flip{
        margin-top: 30px;
    }
    .education-line, .skills-line{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 500px;
        margin: 0 auto;
        &-description{
            position: relative;
            width: 100%;

            &::before{
                content: "";
                position: absolute;
                top: 25px;
                left: -22px;
                height: 90%;
                width: 2px;
                background-color: rgba(black, 0.5);
            }  
            &::after{
                    content: "";
                    position: absolute;
                    width: 0.4rem;
                    height: 0.4rem;
                    left: -25px;
                    top: 5px;
                    border-radius: 50%;
                    background-color: black;
                    
                }
            &-detail{
                display: flex;
                justify-content:space-between;
                padding-right: 5%;
            } 

            //year
            h6{
                font-weight: 700;
                color: rgba(black, 0.5);
                text-transform: uppercase;
                letter-spacing: 2px;
                
              
            }

            &:not(:first-child){
                margin-top: 5rem;
            }

            h3{
                font-size: 1.5rem;
                font-weight: 700;
                text-transform: uppercase;
                
            }
            p{
                color: #323237;
                font-size: 1rem;
            }
            

        }
       
        ul{
            display: flex;
            justify-content: left;
            width: 100%;
            margin-top: 2rem;
            gap: 1rem;
            flex-wrap: wrap;
        }
        ul li{
            list-style: none;

            img{
                width: 55px;
                height: 55px;
                fill: $clr-primary;
                transition: all 0.3s ease-in-out;
                &:hover{
                    fill: white;
                    transform: scale(1.2);
                    rotate: 15deg;
                    
                }
            }
        }
        

    }
}

$speed: 0.5s;
.btn-flip{
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  
  &:hover{
    
    &:after{
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }
    
    &:before{
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }
  
    &:after{
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        display: block;
        transition: $speed;
        position: absolute;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        color: #adadaf;
        background: #323237;
    }
    
    &:before{
        top: 0;
        left: 0;
        opacity: 1;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        color: white;
        background: $clr-primary;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
    color: $clr-white;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    span{
        font-weight: 700;
    }
}

.portfolio{
    flex-direction: column;
    &-line-description{
        margin-block: 40px;
        display: flex;
        border-bottom: 2px solid rgba(black, 0.3);
        padding-bottom: 100px;
        &-left, &-right{
            position: relative;
            width: 50%;
            display: flex;
            justify-content: center;
            text-align: left;
            align-items: left;
            flex-direction: column;
            h6{
                position: relative;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                margin-left: 40px;
                letter-spacing: 2px;
                color: rgba(black, 0.5);
                &::after{
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 0.3rem;
                    left: -40px;
                    top: 50%;
                    background-color: rgba(black, 0.5);
                    
                }
            }
            h3{
                font-size: 2.5rem;
                letter-spacing: 2px;
                font-weight: 800;
                color: darken($clr-primary, 25);
                text-transform: uppercase;
            }
            p{
                font-size: 1.2rem;
                font-weight: 500;
                color: rgba(black, 0.6);
            }
            a{
                font-size: 1.2rem;
                text-transform: capitalize;
                font-weight: 500;
                color: rgba(black, 0.6);
                &:hover{
                    color: $clr-primary;
                }
            }
            
            &>img{
                width: 300px;
                position: relative;
                margin: 0 auto;
                object-fit: cover;
                filter: drop-shadow(0 5px 10px $clr-primary);
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                    animation: rotate 0.5s linear infinite;
                }
                //animation image rotate effect using keyframes
                @keyframes rotate{
                    0%{
                        transform: rotate(0deg);
                    }
                    25%{
                        transform: rotate(3deg);
                    }
              
                    75%{
                        transform: rotate(-3deg);
                    }
                    100%{
                        transform: rotate(0deg);
                    }
                }   
            }

            &-left{
                transform: translateX(-100%);
            }
            &-right{
                transform: translateX(100%);
            }
        }
        
    }
}

.contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
    text-align: center;

    h3{
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba(black, 0.6);
    }
    a{
        font-size: 4rem;
        font-family: 'Playfair Display', serif;
        transition: all 0.3s ease-in-out;

        font-weight: 700;
        &:hover{
            font-style: italic;
        }
    }
}

section {

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    text-size-adjust: 60%;
    padding: 1rem 2rem;

    h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}




.section-intro {

  @media (max-width: 768px) {
    margin-top: 5%;
    flex-direction: column;
    text-align: center;
    
    h3{
        line-height: 2;
        font-size: 1.3rem;
    }
    h1{
        font-size: 4rem;
    }

    .profile {
      margin-top: 2rem;
      
      img{
        width: 300px;
      }
    }
    .socialmedias{
        position: relative;
        height: 100%;
        width: 100%;
        align-items: center;
        &>.social{
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            padding: 0;
            height: 100%;
            width: fit-content;
            &>*{
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
            }
        }
    }

    .intro {
      max-width: 100%;
    }
  }
}

.about,
.education,
.skills,
.portfolio,.contact {

  @media (max-width: 768px) {
    &-description {
      width: 100%;
    }
  }
}

.contact {
  @media (max-width: 768px) {
      a{
          font-size: 2rem;
      }
      h3{
            font-size: 1rem;
      }
    
  }
}
.about,.education, .skills {
  @media (max-width: 768px) {
    padding: 0 10%;
  
    
  }
}

.education,
.skills {

  @media (max-width: 768px) {
    .education-line,
    .skills-line {
      width: 100%;

      ul {
        justify-content: center;
        margin-top: 1rem;
      }
    }
  }
}


.btn-flip {

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.portfolio {


  @media (max-width: 768px) {
    &-line-description {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 50px;

        &-left,&-right{
            width: 100%;
            margin-bottom: 2rem;
            &>img{
                width: 100%;
            }
        }
    }
  }
}
