nav{
    display: flex;
    padding: 1rem 5rem;
    position: sticky;
    top: 0;
    z-index: 100;
    //linear gradient to down direction
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.9));


    justify-content: space-between;


    .logo{
        letter-spacing: 5px;
        font-family: $font-primary;
        font-size: $font-size-h3;
        font-weight: $font-weight-h1;
        color: $clr-primary;
        a{
            text-decoration: none;
        }
    }

    ul{
       display: flex;
       li{
              list-style: none;
              a{
                text-decoration: none;
                color: $clr-text;
                font-family: $font-primary;
                font-size: $font-size-a;
                font-weight: $font-weight-h3;
                padding: $size-padding;
                &:hover{
                     color: $clr-primary;
                }
              }
       }
    }
    .hamburgermenu{
        display: none;
    }
}