// font-family
$font-primary: Poppins, sans-serif;
$font-title: Exquisite, sans-serif;

//font-size
$small: 1rem;
$medium: 1.2rem;
$big: 1.6rem;

//color
$clr-black: #1a1a1a;
$clr-background: #fcf8f8;
$clr-primary:#01aeff;
$clr-white:#dddddd;

//usual color variable for background, text, border, etc
$clr-background: #f5f5f5;
$clr-text: #1d1d1d;
$clr-border: #1a1a1a;

$size-padding: 1rem;
$size-padding-big: 5rem;
$size-margin: 1rem;

$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1rem;
$font-size-h6: 0.8rem;

$font-weight-h1: 700;
$font-weight-h2: 400;
$font-weight-h3: 300;

$font-size-p: 1rem;
$font-size-span: 1rem;
$font-size-a: 1rem;

$font-weight-p: 300;
$font-weight-span: 300;
$font-weight-a: 300;

//usual font-size variable for button, input, etc
$font-size-button: 1rem;
$font-size-input: 1rem;

